# Usage: systemctl enable daily@drive@exports.timer

[Unit]
Description=Run %I.service every day

[Timer]
OnCalendar=daily
Persistent=true
Unit=%I.service

[Install]
WantedBy=timers.target
