[Unit]
Description=Backup /media/backup/%i to Google Drive
Wants=network-online.target

[Service]
Type=oneshot
User=dan
Group=dan
ExecStart=/usr/local/bin/runitor -create -slug %i rclone -v copy /media/backup/%i drive:backup/%i
