[Unit]
Description=Syncoid outbound for %i
Wants=network-online.target

[Service]
Type=oneshot
User=dan
Group=dan
ExecStart=/usr/local/bin/runitor -create -slug %n \
    /usr/local/sbin/syncoid -r --no-sync-snap --recvoptions="-u" "vault/local/%i" "${SYNCOID_OFFSITE_IP}:tank/offsite/vault/local/%i"
